<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
   <service behaviorConfiguration="EchoService.EchoServiceBehavior"
    name="EchoService.EchoService">
    <endpoint address="Wcf" binding="wsHttpBinding" contract="EchoService.EchoService" />
    <endpoint address="Basic" binding="basicHttpBinding" contract="EchoService.EchoService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <endpoint binding="netTcpBinding" contract="EchoService.EchoService" />
    <endpoint address="mex"  binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8731/EchoService/" />
      <add baseAddress="net.tcp://localhost:8732/EchoService/" />
     </baseAddresses>
    </host>
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="EchoService.EchoServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
